:root {
  --main-dark: rgba(7, 7, 7, 0.89);
  --main-light: rgba(194, 193, 193, 0.959);
  --background-transparent-grey: rgba(49, 49, 49, 0.345);
  --font-family: 'Noi Grotesk', sans-serif;
  --font-weight: 400;
  --minheight: 100%;

  /* Work experience table */
  --c-secondary--grey-800-30: rgba(49, 49, 49, 0.3);
  --c-text--text-primary: var(--main-dark);
  --c-text--text-white-50: rgba(7, 7, 7, 0.5);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: clamp(2rem, 9vw, 6rem);
  cursor: pointer;
}

h1:hover {
  text-decoration: underline;
  text-decoration-color: #5b7a58;
  text-decoration-thickness: 2px;
}

h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--main-light);
  color: var(--main-dark);
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  min-height: var(--minheight);
  margin: 0;
}

section {
  z-index: 4;
}

/* #region MENU */
.menu {
  z-index: 9999;
  color: var(--main-dark);
  text-transform: uppercase;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.1vw;
  padding-left: 1.1vw;
  padding-right: 1.1vw;
  font-size: var(--font-size);
  transition: color 1s cubic-bezier(.23, 1, .32, 1);
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
}

.menu-items-holder-1 {
  display: flex;
  gap: 1rem;
}

.menu.dark {
  color: #0e0e0e;
}

.menu-link {
  text-decoration: none;
  position: relative;
  justify-content: space-around;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.menu-text {
  z-index: 2;
  transition: transform 1s cubic-bezier(.23, 1, .32, 1);
  position: relative;
}

.menu-text.absolute {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  transform: translateY(101%);
}

.menu-text-ofh {
  width: 100%;
  position: relative;
  overflow: visible;
}

.menu-text-ofh-secure {
  width: 100%;
  line-height: 1;
  position: relative;
  overflow: hidden;
}

a.menu-link:hover .menu-text {
  transform: translate(0px, -101%);
}

a.menu-link:hover .menu-text.absolute {
  transform: translate(0px, 0%);
}

.menu-products-link-holder {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15.3vw;
  display: flex;
  position: absolute;
  left: 15.3vw;
}

.menu-links-col-list-wrap {
  width: 100%;
  position: relative;
}

.menu-links-col-list {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.menu-links-col-item {
  width: 100%;
  position: relative;
}

.menu-dot-holder {
  width: .575vw;
  height: .575vw;
  background-color: transparent;
  position: absolute;
  top: .2vw;
  left: 0;
  transform: translate(-165%);
}

.menu-dot {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 100%;
  transition: all 1s cubic-bezier(.23, 1, .32, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: scale(0);
}

.menu-dot.dark {
  background-color: var(--main-dark);
}

.menu-link.w--current .menu-dot {
  transform: scale(1);
}
/* #endregion MENU */

/* #region MAIN */
.main-wrapper {
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.product-page-year-text-holder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
/* #endregion MAIN */

/* #region Section header */
.product-all-info-holder {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 4444;
}

.container-h1 {
  width: 100%;
}

.product-page-year-ofh {
  justify-self: end;
}

.product-page-year-text {
  color: #fff;
  font-size: 1.05vw;
  line-height: 1;
  position: relative;
}

.product-page-year-text.dark {
  color: var(--main-dark);
}

.product-page-year-dot {
  width: 0.7vw;
  height: 0.7vw;
  background-color: var(--main-light);
  border-radius: 100%;
}

.product-page-year-dot.dark {
  background-color: var(--main-dark);
}

.section-content {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
/* #endregion Section header */

/* #region Section grid (photography) */
.section-project-grid {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  flex-flow: wrap;
}

.project-col {
  width: 100%;
  padding-top: .5vw;
  padding-bottom: .5vw;
  position: relative;
}

.product-grid-col-list {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  padding: 3vw 0 3vw 0;
  position: relative;
}

.product-grid-col-item {
  width: fit-content;
  margin: 1vw;
  position: relative;
  overflow: hidden;
}

.product-grid-col-item a {
  text-decoration: none;
  text-align: center;
}

.product-grid-col-item:nth-child(2n+0) {
  width: 60%;
  padding-top: 0vw;
}

.product-grid-col-item:nth-child(3n+0) {
  width: calc(60% - 0.55vw);
  padding-top: 3vw;
}

.grid-img {
  width: 100%;
  position: relative;
  transform: none;
}

img {
  transition: .3s ease-in-out;
}

img:hover {
  opacity: 80%;
  cursor: pointer;
}

.rounded-grid-link {
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
/* #endregion Section grid */

/* #region Cards (portafolio) */
.card-list {
  display: flex;
  padding: 2rem;
  margin: 2rem 0;
  font-family: TimesNowSemiLight-75, TimesNowSemiLight, serif;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 100%;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: rgba(252, 252, 252, 0.694);
  box-shadow: -1rem 0 3rem hsla(0, 0%, 75%, 0.694);
  transition: .2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  width: fit-content;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #959598;
}

.card-header h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #97c3e0, #59675e);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-description {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #555;
  margin: 0.75rem 0;
  flex: 1;
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 130px 1fr;
  align-items: center;
}

.author-avatar img {
  display: block;
  width: 100px;
  height: 80px;
  border-radius: 20px;
  margin: 16px 10px;
}

.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-weight: 700;
  font-size: .66rem;
  color: #7a7a8c;
  text-transform: uppercase;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: #5b7a58;
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: #5b7a58;
}
/* #endregion Cards */

/* #region Work experience table */
.service-hero_grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.service-hero_text-part {
  max-width: 600px;
}

.service-hero_table-row {
  border-bottom: 1px solid var(--c-secondary--grey-800-30);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.service-hero_table-row:last-child {
  border-bottom: none;
}

.t-label-1-rg {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-text--text-white-50);
  margin-bottom: .5rem;
}

.service-hero_table-row-group {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.t-paragraph-1-rg {
  color: var(--c-text--text-primary);
  line-height: 1.6;
}
/* #endregion Work experience table */

/* #region Boton ir arriba */
#btn-ir-arriba {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999999999;
  background: var(--main-dark);
  color: var(--main-light);
  height: 55px;
  width: 55px;
  border-radius: calc(55px / 2);
  border: none;
  box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
  transition: 300ms ease;
}

#btn-ir-arriba:hover {
  transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
  width: calc(55px / 2);
  fill: none;
  stroke: var(--main-light);
  stroke-width: 3px;
}
/* #endregion Boton ir arriba */
